.note-bg-white {
  background-color: #ffffff;
}

.note-bg-yellow {
  background-color: #ffffcc;
}

.note-bg-blue {
  background-color: #b0e0e6;
}

.note-bg-green {
  background-color: honeydew;
}

.note-bg-pink {
  background-color: #ffefef;
}

.note-bg-white .card-title,
.note-bg-white .card-text,
.note-bg-yellow .card-title,
.note-bg-yellow .card-text,
.note-bg-blue .card-title,
.note-bg-blue .card-text,
.note-bg-green .card-title,
.note-bg-green .card-text,
.note-bg-pink .card-title,
.note-bg-pink .card-text {
  color: #212529;
}

.note-bg-white .card-text .text-muted,
.note-bg-yellow .card-text .text-muted,
.note-bg-blue .card-text .text-muted,
.note-bg-green .card-text .text-muted,
.note-bg-pink .card-text .text-muted {
  color: #495057;
}
